{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="col-md-8">
        <div class="card p-4 mt-4">
            <h1>Order Summary</h1>
            <p>Show customer name</p>
            <p>Show address Details</p>
            <p>Tax and shipping</p>
            <p>Show Total</p>
            <p>
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input class="form-control" type="search" placeholder="Enter coupon code here" aria-label="Search">
                    <button class="btn btn-default btn-md my-2 my-sm-0 ml-3" type="submit">Add Coupon</button>
                </form>
            </p>
            <p>Show Total After Coupon</p>
            <a href="{% url 'payment:process' %}" class="btn btn-primary">Confirm Order</a>
        </div>
    </div>
</div>

{% endblock %}